/* Universal Styles */

body {
    background-color: #333333;
}

#header {
    background-color: white;
    padding: 0;
    margin: 0;
}

.pagebreak {
    height: 400px;
}

.textbox {
    width: 250px;
    height: 25px;
}

#fileupload {
    font-family: verdana;
    font-size: 0.8em;
    color: white;
}

/* ---- Text Styles ---- */

h1 {
    text-align: center;
    font-family: Helvetica;
    font-size: 3em;
    color: white;
}

h2 {
    text-align: center;
    font-family: Helvetica;
    font-size: 1.5em;
    color: white;
}

p {
    font-family: verdana;
    color: white;
}

a {
    font-family: verdana;
    font-size: 1em;
}

ul {
    font-family: verdana;
    color: white;
    font-size: 0.8em;
}

.h21 {
    text-align: center;
}

.smalltext {
    font-size: 0.8em;
}

.nextbutton {
    font-size: 0.8em;
}

.nextbutton:hover {
    background-color: #ffdd54;
}

/* Link styles  */
a:link {
    color: yellow;
}

a:visited {
    color: burlywood;
}

/* ---- Button styles ---- */
button {
    width: 200px;
    height: 50px;
    border-width: 3px;
    border-color: white;
    background-color: #ffcc00;
    font-family: verdana;
    transition: background-color 0.5s ease-out;
}

button:focus {
    border-color: black;
}

#start {
    width: 300px;
    height: 50px;
    border-width: 3px;
    border-color: white;
    background-color:#ffcc00;
    font-family: Verdana;
    font-size: 1em;
}

#start:hover {
    background-color: #ffdd54;
}

.accountButton {
    border-width: 3px;
    border-color: white;
    background-color: white;
}

#accept {
    background-color: greenyellow;
}

#decline {
    background-color: orangered;
}

#startcontainer {
    text-align: center;
    margin-top: 50px;
}

#logohead {
    text-align: left;
    margin-bottom: 0px;
}

/* Image Styles */

img {
    width: 400px;
    height: auto;
}

.icon {
    width: 200px;
    height: auto;
}

.icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease
}

.feedback {
    width: 150px;
    height: auto;
}

.sharedbutton {
    width: 100px;
    height: 50px;
    background-color: white;
}

/* Div styles - for first and last page */

#container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    width: 60%;
}
  
#left,#mid,#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    opacity: 0;
}

.cardbox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-right: 40px;
}

.privacy {
    width: 100px;
    height: 50px;
    border-width: 3px;
    border-color: white;
    font-size: 1em;
}

/* ANIMATION KEYFRAMES */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animations */

#left {
    animation: fadeIn 3s 0.5s forwards;
}

#mid {
    animation: fadeIn 3s 1s forwards;
}

#right {
    animation: fadeIn 3s 1.5s forwards;
}

#part1, #part2, #part3, #part4 {
    animation: fadeIn 1s;
}

.feedback:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease
}

/* Tooltip styles */

.tooltip {
    position: relative;
    display: inline-block;
}
  
/* Tooltip text */

.tooltip .tooltiptext {
    font-family: verdana;
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
}
  
/* Show the tooltip text */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Progress Bar style */

#myProgress {
    width: 100%;
    background-color: white;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #4fc86d;
    transition: width 0.4s ease;
}






#part1, #part2, #part3, #part4 {
    align-items: center;
    text-align: center;
}